body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #111;
  color: white;
}

header {
  text-align: center;
  padding: 40px 00px 10px;
  background: #111;
  
}

header h1 {
  font-size: 2.8em;
  margin: 0px;
}
.profesion small {
  color: #888; /* Verde elegante */
  font-size: 1em;
  display: block;
  margin-top: 0px;
  margin-bottom: 1em;
}
.menu-principal {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}




.menu-principal button {
  background: none;
  border: none;
  color: #15b2bd;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}


.menu-principal button:hover,
.menu-principal button.activo {
  color: #00b894;
  border-bottom: 2px solid #00b894;
}







/* Secciones dinámicas */
main {
  max-width: 1000px;
  margin: auto;
  padding: 30px 20px; /* Margen ajustable */
}

section {
  margin-top: 20px;
  background-color: #111;
}

/* Títulos centrados */
section h2 {
  color: #00b894;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.sobre-mi-texto {
  max-width: 800px;
  margin: 0 auto;
  align-self: center;
}
/* Botón CV */
.btn-transparent {
  display: inline-block;
  background: transparent;
  border: 2px solid #00b894;
  color: #00b894;
  align-self: center;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.btn-transparent:hover {
  background: #00b894;
  color: white;
}

/* Slider dinámico */

.slider {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-snap-type: x mandatory;
  padding-top: 20px;
  padding-bottom: 20px;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
  display: none;/* Chrome, Safari, Opera */
}

.contenedor-slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slide {
  flex: 0 0 300px;
  background: #1e1e1e;
  border-radius: 16px;
  overflow: hidden;
  scroll-snap-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.slide:hover {
  transform: scale(1.05);
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.caption {
  padding: 20px;
  color: white;
}

.caption h3 {
  margin: 0;
  font-size: 1.2em;
  color: #00b894;
}

.caption p {
  color: #ccc;
  font-size: 0.95em;
}

/* Habilidades con botones */
.skills {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.skill {
  background-color: #1e1e1e;
  padding: 15px 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  min-width: 120px;
}

.skill span {
  font-weight: bold;
  color: #00b894;
  display: block;
  font-size: 1em;
}

.skill small {
  display: block;
  font-size: 0.85em;
  color: #aaa;
  margin-top: 6px;
}

/* Sección contacto */
.cta {
  text-align: center;
  padding: 60px 20px;
  background-color: #0d0d0d;
  margin-top: 50px;
}

.cta h2 {
  color: #00b894;
  font-size: 1.8em;
  margin-bottom: 25px;
}

.btn-filled {
  display: inline-block;
  background-color: #00b894;
  color: white;
  padding: 12px 30px;
  font-size: 1.1em;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-filled:hover {
  background-color: #019270;
}

/* Footer */
footer {
  background-color: #111; /*#1f1f1f;*/
  color: #888;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}



@media (max-width: 768px) {
  header {
    padding: 30px 15px 10px;
  }

  header h1 {
    font-size: 2.5em;
  }

  .menu-principal {
    gap: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 5px;
  }

  .menu-principal button {
    font-size: 1em;
    padding: 8px 8px;
  }

  main {
    padding: 1.5em;
  }
  
  .sobre-mi-texto {
    padding: 1.5em;
  }

  section h2 {
    font-size: 1.5em;
  }

  .slider {
    /* flex-direction: column; 
    overflow-x: visible;*/
    padding: 1.5em 1.5em;
  }

  .slide {
    width: 100%;
    flex: 1 0 auto;
  }



}
